<h3 class="m-3">SUBSCRIPTIONS MANAGEMENT</h3>
<app-filter (submitFilter)="submitFilter($event)"></app-filter>
<igx-grid
  class="m-3 h-96 w-full"
  [primaryKey]="'name'"
  [data]="filterSubscriptions"
>
  <igx-column field="windfarms" header="Windfarms"></igx-column>
  <igx-column field="devices" header="Devices"></igx-column>
  <igx-column field="resolution" header="Resolution"></igx-column>
  <igx-column field="signals" header="Signals"></igx-column>
  <igx-column field="from" header="Date From"></igx-column>
  <igx-column field="to" header="Date To"></igx-column>
  <igx-action-strip #actionstrip>
    <button title="View" igxIconButton="flat" igxRipple>
      <igx-icon>view</igx-icon>
    </button>
    <button
      title="Delete"
      igxIconButton="flat"
      igxRipple
      (click)="delete(actionstrip.context.data.windfarms)"
    >
      <igx-icon>delete</igx-icon>
    </button>
  </igx-action-strip>
</igx-grid>
<button
  class="add-subscription__button"
  igxButton="raised"
  (click)="addDialog.open()"
>
  Add
</button>
<igx-dialog #addDialog [closeOnOutsideSelect]="false">
  <igx-dialog-title class="add-subscription__dialog">
    <div class="title-container">
      <div class="dialog-title">Add subscription</div>
    </div>
  </igx-dialog-title>
  <app-add
    (addButtonClicked)="onAddSubscriptionClicked($event)"
    (cancelButtonClicked)="addDialog.close()"
    (cancelPreviewButtonClicked)="addDialog.open()"
  ></app-add>
</igx-dialog>
